/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Background */
body {
  background: #f4f7fb;
}

/* Navbar */
.navbar {
  background: #1e3a8a;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.logout-btn {
  background: white;
  color: #1e3a8a;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e5e7eb;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

/* Dashboard layout */
.dashboard-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

/* Balance box */
.balance-box {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.balance-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.balance-box p {
  font-size: 28px;
  font-weight: bold;
}

/* Input */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* Buttons */
.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #1e40af;
}

.success-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.success-btn:hover {
  background: #15803d;
}

.danger-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.danger-btn:hover {
  background: #b91c1c;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}